@using DrinkAndGo.PL.ViewModels
@model ShoppingCartViewModel
<div class="row checkoutForm">
    <h2>Your shopping cart</h2>
    <h4 class="my-2">Here are the drinks in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Drink</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-left">@line.Drink.Name</td>
                    <td class="text-right">@line.Drink.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Amount * line.Drink.Price).ToString("c"))
                    </td>
                    <td class="text-center">
                        <a class=" btn btn-danger remove" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-drinkId="@line.Drink.DrinkId">
                            <span class="mx-2">Remove</span>
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success mx-3" asp-controller="Order" asp-action="Checkout" >Check out</a>
            <a asp-controller="Drink" asp-action="List" class="btn btn-dark">
                    Add More Drinks
            </a>
        </div>
    </div>
</div>